<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.backslash</key>
		<integer>-100</integer>
		<key>public.kern2.question</key>
		<integer>-60</integer>
		<key>public.kern2.quote</key>
		<integer>-60</integer>
		<key>public.kern2.quoteleft</key>
		<integer>-60</integer>
		<key>public.kern2.quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>AE</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.M</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-90</integer>
		<key>public.kern2.slash</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.Germandbls</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-50</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.question</key>
		<integer>-20</integer>
		<key>public.kern2.quote</key>
		<integer>-60</integer>
		<key>public.kern2.quoteleft</key>
		<integer>-70</integer>
		<key>public.kern2.quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.M</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.W</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.backslash</key>
		<integer>-40</integer>
		<key>public.kern2.question</key>
		<integer>-30</integer>
		<key>public.kern2.quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>public.kern2.slash</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.M</key>
		<integer>-10</integer>
		<key>public.kern2.V</key>
		<integer>-10</integer>
		<key>public.kern2.backslash</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>AE</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.M</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.slash</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.Q</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-50</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.backslash</key>
		<integer>-40</integer>
		<key>public.kern2.quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.W</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.backslash</key>
		<integer>-30</integer>
		<key>public.kern2.question</key>
		<integer>-40</integer>
		<key>public.kern2.quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.W</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>AE</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.M</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
		<key>public.kern2.slash</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.Thorn</key>
	<dict>
		<key>public.kern2.backslash</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-90</integer>
		<key>public.kern2.quoteleft</key>
		<integer>-20</integer>
		<key>public.kern2.slash</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>AE</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.M</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.slash</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>AE</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-35</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.M</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-10</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.slash</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>AE</key>
		<integer>-75</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-50</integer>
		<key>public.kern2.M</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-10</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.slash</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>public.kern2.W</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
		<key>public.kern2.backslash</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.backslash</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.W</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.four</key>
	<dict>
		<key>public.kern2.period</key>
		<integer>-30</integer>
		<key>public.kern2.seven</key>
		<integer>-40</integer>
		<key>public.kern2.two</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.guillemotleft</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-315</integer>
	</dict>
	<key>public.kern1.guillemotright</key>
	<dict>
		<key>public.kern2.guillemotright</key>
		<integer>-315</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-80</integer>
		<key>public.kern2.W</key>
		<integer>-20</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.seven</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.questiondown</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.W</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.quote</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.quoteleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.J</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.quoteright</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.M</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.seven</key>
	<dict>
		<key>public.kern2.cent</key>
		<integer>-10</integer>
		<key>public.kern2.four</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.slash</key>
	<dict>
		<key>AE</key>
		<integer>-120</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.M</key>
		<integer>-40</integer>
		<key>public.kern2.S</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
